body {
    margin: 0;
    padding: 0;
    background-color: black;
	color: white;
	font-family: "MS PGothic";
}

.nav {
	border: 1px solid #00ffff;
	position: fixed;
	left: 9px;
	width: 140px;
	height: 94%;
	font-weight: bold;
}

.nav-button {
	border: 1px solid #00ffff;
	color: gray;
	padding: 5px;
	margin: 6px;
}

.nav-button a {
	color: white;
}

.nav-button a:hover {
	color: red;
}

.wrapper {
	margin: 2em auto;
	max-width: 1110px;
	border: 1px solid #00ffff;
	padding: 1px;
	text-align: center;
}

a {
	color: lightblue;
}

a:hover {
	color: red;
}

.box {
	border: 4px ridge #20afff;
}

.stuff {
	border: 1px solid #00ffff;
	margin: 5px;
	padding: 10px;
	text-align: left;
	display: flex;
}

.stuff2 {
	border: 1px solid #00ffff;
	margin: 5px;
	padding: 10px;
	text-align: left;
}

.content {
  flex: 1;
}

.cirno {
  margin-left: 20px; 
}

td {
  width: 50%;
  vertical-align: top;
}